@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.home-body {
  margin: 0px; 
  box-sizing: border-box;
  height: 100vh;
  /* background-color: white; */
  overflow-x: hidden;
}

ul, li, ol {
  padding: 0;
  list-style-type: none;
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 4999;
  visibility: hidden;
}

.home-container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-auto-rows: auto;
  /* column-gap: 30px; */
}

.navbar {
  /* background-color: white; */
  color: white;
  background-color: rgba(255, 105, 97);
  grid-column: 1;
  grid-row: 1/5;
  text-align: center;
  margin: 20px;
  padding: 20px;
  margin: 0px 20px 0px 0px;
  border-right: solid rgba(122, 6, 0) 2px;
  position: relative;
}

.navbar ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin: 0;
  padding: 0;
}

.navbar li {
  font-family: 'Roboto';
  display: block;
  font-size: 1.7rem;
  font-weight: bold;
  /* letter-spacing: 1px; */
}

.navbar ol.click-me {
  font-size: 1rem;
  font-weight: initial;
  color: rgba(122, 6, 0);
  text-decoration: underline;
}

.navbar ol.click-me:hover {
  font-weight: bold;
}

.navbar ol.click-me:active, .navbar button:active {
  transform: scale(0.98);
}

.navbar .logout button {
  text-decoration: underline;
  color: rgba(122, 6, 0);
  background-color: rgba(255, 105, 97);
  border: none;
  padding: 8px 20px;
  font-size: 1rem;
  position: absolute;
  left: 0;
  bottom: 0;
}

.navbar .settings button {
  text-decoration: underline;
  color: rgba(122, 6, 0);
  background-color: rgba(255, 105, 97);
  border: none;
  padding: 8px 20px;
  font-size: 1rem;
  position: absolute;
  right: 0;
  bottom: 0;
}

.logout {
  align-self: center;
}

.navbar h1 {
  margin-bottom: 0px;
}

.navbar .logout button:hover {
  text-decoration: none;
  color: white;
  background-color: rgba(122, 6, 0);
  border: 2px solid rgba(122, 6, 0);
  border-top-right-radius: 8px;
}

.navbar .settings button:hover {
  text-decoration: none;
  color: white;
  background-color: rgba(122, 6, 0);
  border: 2px solid rgba(122, 6, 0);
  border-top-left-radius: 8px;
}

.add {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  top: 15%;
  border: solid rgba(255, 105, 97);
  padding: 20px;
  border-radius: 20px;
  /* visibility: hidden; */
  z-index: 5000;
  background-color: white;
  visibility: hidden;
}

.add i {
  color: rgba(255, 105, 97);
  font-size: 1.75em;
  margin: 10px;
}

.add i:hover {
  color: rgba(122, 6, 0);
  scale: calc(1.02);
}

.form-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-nav-container p{
  font-size: 1.5em;
  color: rgba(122, 6, 0);
  text-decoration: underline;
  font-weight: bold;
  visibility: hidden;
}

.add form {
  display: flex;
  flex-direction: column;
}

.add form input {
  padding: 30px;
  margin: 10px;
  border: none;
  border-bottom: rgba(255, 105, 97) solid;
  font-size: 2em;
}

.add form input::placeholder {
  color: rgba(255, 105, 97);
}

.add form input:hover::placeholder, .add form input:focus::placeholder {
  color: rgba(122, 6, 0);
}

.add form input:hover {
  border-bottom: rgba(122, 6, 0) solid;
}

.add form input:focus {
  outline: none;
  border-bottom: rgba(122, 6, 0) solid;
}

.main-body {
  background-color: white;
  grid-column: 2;
  grid-row: 1/5;
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-content: flex-start;
  flex-wrap: wrap;
  overflow-y: auto;
}

.item-container {
  color: white;
  font-size: 1.25rem;
  margin: 20px;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  background-color: rgb(255, 105, 97);
  border: solid rgba(122, 6, 0) 2px;
  box-shadow: 0px 0px 10px 6px #7a0600;
}

.item-container h2, .item-container p{
  margin: 0;
}


/* .logo-container {
  grid-column: 1;
  grid-row: 4/5;
  border: 5px solid black;
  margin: 20px;
  padding: 20px;
} */

.storage-container {
  grid-column: 3;
  grid-row: 1/5;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 400px;
}

.storage {
  background-color: rgb(255, 105, 97);
  border: solid rgba(122, 6, 0) 2px;
  box-shadow: 0px 0px 10px 6px #7a0600;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  color: white;
  margin: 20px 0px 20px 20px;
  padding: 20px 30px;
  height: fit-content;
}

.storage.inactive {
  transform: translateX(95%);
  transition: transform 0.2s ease-in;
}

.storage.inactive:hover {
  transform: translateX(0%);
  transition: transform 0.2s ease-in;
}

.storage h2 {
  font-size: 2.2rem;
  letter-spacing: 1px;
  padding: 0;
  margin: 0;
}

.storage.inactive h2 {
  font-size: 2.2rem;
  letter-spacing: 1px;
  padding: 0;
  margin: 0;
}

/* .retracted-card {
  background-color: rgb(255, 105, 97);
  border: solid rgba(122, 6, 0) 2px;
  box-shadow: 0px 0px 10px 6px #7a0600;
  border-radius: 20px;
  color: rgb(255, 105, 97);
  margin: 20px 20px;
  padding: 20px 30px;
  height: fit-content;
  align-self: flex-end;
  transform: translateX(100%);
  position: absolute;
  visibility: hidden;
}

.retracted-card h2 {
  font-size: 2.2rem;
}

.retracted-card p {
  font-size: 1.5rem;
}

.retracted-card h2, p {
  letter-spacing: 1px;
  padding: 0;
  margin: 0;
} */

